.login_error{
	margin-top: 40px;
	padding: 15px;
	text-align: center;
	color: red;
	border: 1px solid #eee;
	font-size: 15px;
	background-color: #eee;
}
.center{
	text-align: center;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
#bienvenida{
	border-bottom: 1px solid #eee;
	padding: 0px 7px 7px 7px;
	margin-bottom: 7px;       
}
.contenido-nombre-jornada{
	font-size: 13px;
}
.estado-apuesta{
	font-size: 13px;
	margin-top: -20px
}
.tabla-apuesta-comun{
	width: 100%;
	border-collapse: collapse;
}
.tabla-apuesta-comun th{
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}
.tabla-apuesta-comun td{
	vertical-align: center;
	padding: 5px 5px; 
	font-size: 11px;
}
.tabla-Miapuesta{
	width: 100%;
	border-collapse: collapse;
}
.tabla-Miapuesta th{
	border-bottom: 1px solid black;
	/*padding-bottom: 5px;*/
}
.tabla-Miapuesta td{
	vertical-align: center;
	padding: 5px 5px 0px 5px; 
	font-size: 11px;
}
.containing-element .ui-checkbox { 
	width: 9em;
	float: left;
	margin-right: 15px;
	margin-top: 0px;
}
#login_page img {
	max-width: 50%;
	margin-top: -3%;
	margin-bottom: -3%;
}
.ui-panel-inner{
	border-right: 1px solid #ddd;
}
.ui-bar-inherit{
	background-color: #000!important;
	color:#fff !important;
	text-shadow: none !important;
	border-top: none !important;
}
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
  background-color: #d60b11 !important;
  border-color: #d60b11 !important;
  color: #fff;
  text-shadow: 0 1px 0 #d60b11 !important;
}
.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head+body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head+body .ui-btn-a.ui-focus, html head+body .ui-body-a.ui-focus {
  -webkit-box-shadow: 0 0 12px #d60b11 !important;
  -moz-box-shadow: 0 0 12px #d60b11 !important;
  box-shadow: 0 0 12px #d60b11 !important;
}
/*#d60b11*/