.login_error{
	margin-top: 40px;
	padding: 15px;
	text-align: center;
	color: red;
	border: 1px solid #eee;
	font-size: 15px;
	background-color: #eee;
}
.center{
	text-align: center;
}

.containing-element .ui-checkbox { 
	width: 9em;
	float: left;
	margin-right: 15px;
	margin-top: 0px;
}
#login_page img {
	max-width: 50%;
	margin-top: -3%;
	margin-bottom: -3%;
}
.ui-panel-inner{
	border-right: 1px solid #ddd;
}